<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Gesprek">


<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/conversation_style.css" rel="stylesheet">

    <ion-content class="contentconvo">
        <div class="employerheader">
            <img class="convoavatar" ng-src={{chat.face}}>
            <h1 class="convotitle">{{chat.name}}</h1>
            <h2 class="convoinfo">{{chat.company}}</h2>
            <h2 class="convojob">Vacature: {{chat.vacature}}</h2>

        </div>
        <div id="conversationwindow">

        </div>
        <br><br><br>
    </ion-content>
</ion-view>