<ion-view view-title="{{fav.BEROEP}}">
    <ion-nav-buttons class="button button-positive" side="right">
        <button id="emailbutton" class="button button-clear button-light"><i class="icon ion-ios-email-outline"></i></button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="has-header-tabs">

        <div class="card">
            <div class="item item-button-right item-divider bar bar-balanced">
                <i class="icon ion-ios-location"></i> Locatie
            </div>

            <div class="item item-text-wrap">

                <p>{{fav.AMB_REGIO}}, {{fav.PROVINCIE}}</p>

            </div>

        </div>

        <div class="card">
            <div class="item item-button-right item-divider bar bar-balanced">
                <i class="icon ion-help"></i> Omschrijving
            </div>

            <div class="item item-text-wrap">

                <p>{{fav.NACE_OMSCHRIJVING}} ({{fav.SECTOR}})</p>

            </div>

        </div>


        <div class="card">
            <div class="item item-button-right item-divider bar bar-balanced">
                <i class="icon ion-person"></i> Profiel
            </div>

            <div class="item list item-text-wrap">
                <div class="item">
                    <h2>Opleiding</h2>
                    <span class="item-note"></span>
                    <p>{{fav.STUDIENIVEAU_BASIS}}, {{fav.STUDIENIVEAU_DETAIL}}</p>
                </div>
                <div class="item">
                    <h2>Ervaring</h2>
                    <span class="item-note"></span>
                    <p>{{fav.ERVARING}}</p>
                </div>
                <div class="item">
                    <h2>Taalkennis</h2>
                    <span class="item-note"></span>
                    <p>Frans: {{fav.TAAL_FRANS}}</p>
                    <p>Engels: {{fav.TAAL_ENGELS}}</p>
                    <p>Duits: {{fav.TAAL_DUITS}}</p>
                </div>
                <div class="item">
                    <h2>Rijbewijs</h2>
                    <span class="item-note"></span>
                    <p>{{fav.RIJBEWIJS}}</p>
                </div>
                <div class="item">
                    <h2>Tijdsregeling</h2>
                    <span class="item-note"></span>
                    <p>{{fav.VOLTIJDS_DEELTIJDS}}</p>
                </div>


            </div>

        </div>
        <div class="button button-full button-positive button-outline">
            Toon Interesse

        </div>
        <br><br>

    </ion-content>
</ion-view>