<ion-view view-title="{{profileDetail.name}}">
    <style></style>



    <ion-content class="has-tabs had-header">


        <div id = "top" class="list card">
            <a class="item item-avatar" href="#/tab/dash/{{profileDetail.id}}" >
                <img class="avatar" ng-src={{profileDetail.face}}>
                <div class="leftspace"><h2> {{profileDetail.name}}</h2><p style="float:right;position:relative;top:-25px;">Level {{profileDetail.level}}</p></p>
                    <item><progress value="10" max="100" style="position:relative;top:-5px;"></progress></item>
                </div>
            </a>
        </div>

        <div class="card">
            <div class="item item-button-right item-divider bar bar-balanced">
                Adres
                <button class="button button-light button-clear" ng-click="openPopover($event)">
                    <i class="icon ion-compose"></i>
                </button>
            </div>
            <script id="over.html" type="text/ng-template">
                <ion-popover-view>
                    <ion-header-bar class="item bar bar-positive">
                        adres
                    </ion-header-bar>
                    <ion-content>
                        <div class="list">
                            <label class="item item-input">
                                <input type="text" placeholder="straat">
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="postcode">
                            </label>
                            <label class="item item-input">
                                <input type="text" placeholder="gemeente">
                            </label>
                        </div>
                    </ion-content>
                </ion-popover-view>
            </script>
            <div class="item item-text-wrap">

                <p>{{profileDetail.adres.straat}}</p>
                <p>{{profileDetail.adres.postcode}} {{profileDetail.adres.gemeente}}</p>

            </div>

        </div>

        <div class="card">
            <div class="item item-button-right item-divider bar bar-balanced">
                Contact
                <button class="button button-light button-clear" ng-click="openPopover($event)">
                    <i class="icon ion-compose"></i>
                </button>
            </div>
            <script id="popover.html" type="text/ng-template">
                <ion-popover-view>
                    <ion-header-bar class="item bar bar-positive">
                        My Popover Title
                    </ion-header-bar>
                    <ion-content>
                        <label class="item item-input">
                            <input type="text" placeholder="telefoon">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="email">
                        </label>
                    </ion-content>
                </ion-popover-view>
            </script>
            <div class="item list item-text-wrap">
                <div class="item">
                    <p><i class="icon ion-iphone"> </i> {{profileDetail.telefoon}}</p>

                </div>
                <div class="item">
                    <p><i class="icon ion-at"> </i>{{profileDetail.email}}</p>
                </div>

            </div>

        </div>

        <div class="card">
            <div class="item item-button-right item-divider bar bar-balanced">
                Ervaringen
                <button class="button button-light button-clear" ng-click="openPopover($event)">
                    <i class="icon ion-compose"></i>
                </button>
            </div>
            <script id="my-popover.html" type="text/ng-template">
                <ion-popover-view>
                    <ion-header-bar class="item bar bar-positive">
                        My Popover Title
                    </ion-header-bar>
                    <ion-content>
                        <label class="item item-input">
                            <input type="text" placeholder="test">
                        </label>
                    </ion-content>
                </ion-popover-view>
            </script>
            <div class="item list item-text-wrap">
                <ion-item ng-repeat="ervaringen in profileDetail.ervaringen" type="item-text-wrap">
                    <div class="item">
                        <h2><i class="icon ion-clipboard"> </i>{{profileDetail.ervaringen[$index].titel}}</h2>
                        <span class="item-note"><i class="icon ion-briefcase"></i>{{profileDetail.ervaringen[$index].company}}</span>
                        <p><i class="icon ion-clock"></i>{{profileDetail.ervaringen[$index].duur}}</p>
                    </div>
                </ion-item>

            </div>

        </div>
    <br><br>
    </ion-content>
</ion-view>