<link href="css/dash.css" rel="stylesheet">
<ion-view view-title="Dashboard">
    <ion-nav-buttons class="button button-positive" side="right">
        <button id="emailbutton" class="button button-clear button-light"><i class="icon ion-ios-gear"></i></button>
    </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content ng-controller="ConnectionCtrl">
    <div id = "top" class="list card">
            <a class="item item-avatar" href="#/tab/dash/{{profileDetail.id}}" >
                <img class="avatar" ng-src={{profileDetail.face}}>
                <div class="leftspace"><h2> {{profileDetail.name}}</h2><p style="float:right;position:relative;top:-25px;">Level {{profileDetail.level}}</p></p>
                    <item><progress value="10" max="100"></progress></item>
                </div>

            </a>
    </div>


      <ion-pane ng-controller="CardsCtrl">
        <swipe-cards>
            <swipe-card on-card-swipe="cardSwiped()" id="start-card">
                <div id="initialcard">
                    <p id="swipetxt">Sleep naar beneden om te beginnen.
                        <i id="chevron" style="font-size:50px;" class="icon ion-chevron-down"> </i></p>

                </div>

            </swipe-card>

            <swipe-card ng-repeat="card in cards" on-destroy="cardDestroyed($index)" on-card-swipe="cardSwiped($index)">
                <div ng-controller="CardCtrl" class="list card">
                    <div class="item titel">
                        <h2 id="cardtitel">{{card.functieNaam}}</h2>
                        <p>{{card.plaatsTewerkstelling.gemeenteOfRegio}}</p>
                        <a style="position:absolute; top: 10px; right: 10px;" class="button button-balanced" ng-click="goAway()"><i class="icon ion-star"> </i></a>
                    </div>
                    <div class="item item-body omschrijving">
                        <p>{{card.functieOmschrijving}}</p>
                    </div>
                    <div class="item tijdsregeling">
                        <p>{{card.aanbodEnVoordelen.tijdregeling}}: {{card.aanbodEnVoordelen.soortJob}}</p>
                    </div>

                </div>

            </swipe-card>

        </swipe-cards>
      </ion-pane>

  </ion-content>
</ion-view>
