<ion-view view-title="Argo VDAB">
    <style>
        ion-content{
            background-image: url("./img/wallpaper.png");
        }
    </style>
    <ion-content>

            <center><img src="img/logodark.png" height="250" style="margin-top:20px;"></center>
        <div class="list list-inset" style="width:90%; margin-left:5%;">
            <label class="item item-input">

                <input ng-model="username" type="text" placeholder="Username"/>
            </label>
            <label class="item item-input">
                <input ng-model="password" type="password" placeholder="Password"/>
            </label>
        </div>
        <div style="width:90%; margin-left:5%;">
        <button ng-click="login(username, password)" class="button button-block button-positive">
            Inloggen
        </button>
        <button ng-click="register(username, password)" class="button button-block button-balanced">
            Registreren
        </button>
        </div>

    </ion-content>
 </ion-view>