<ion-view view-title="Argo VDAB">
    <ion-content>
        <div class="list list-inset">
            <center><img src="img/logolight.png" height="250"></center>
            <label class="item item-input" style="margin-top:25px;">

                <input ng-model="username" type="text" placeholder="Username"/>
            </label>
            <label class="item item-input">
                <input ng-model="password" type="password" placeholder="Password"/>
            </label>
        </div>
        <div>
        <button ng-click="login(username, password)" class="button button-block button-positive">
            Inloggen
        </button>
        <button ng-click="register(username, password)" class="button button-block button-balanced">
            Registreren
        </button>
        </div>

    </ion-content>
 </ion-view>