<ion-view view-title="registreren">
    <ion-content>
        <div class="list list-inset">

            <label class="item item-input">
                <span class="input-label">Voornaam</span>
                <input ng-model="voornaam" type="text" placeholder="bv. Joske"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Achternaam</span>
                <input ng-model="achternaam" type="text" placeholder="bv. Vermeulen"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Woonplaats</span>
                <input ng-model="woonplaats" type="text" placeholder="bv. Brussel"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Postcode</span>
                <input ng-model="postcode" type="text" placeholder="bv. 1000"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Straat</span>
                <input ng-model="straat" type="text" placeholder="bv. Stationstraat"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Telefoon</span>
                <input ng-model="telefoon" type="text" placeholder="bv. 026969696"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Mobiel</span>
                <input ng-model="mobiel" type="text" placeholder="bv. 046969696"/>
            </label>
            <label class="item item-input">
                <span class="input-label">E-mail</span>
                <input ng-model="email" type="text" placeholder="bv.  Joskevermeulen@hotmail.com "/>
            </label>
            <label class="item item-input">
                <span class="input-label">Paswoord</span>
                <input ng-model="paswoord" type="password" placeholder="(geef paswoord)"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Bevestig Paswoord</span>
                <input ng-model="confpaswoord" type="password" placeholder="Geef hier het wachtwoord in dat u op de vroige regel hebt ingegeven"/>
            </label>

        </div>
        <div>
            <button ng-click="register(voornaam, achternaam, woonplaats, postcode, straat, telefoon, mobiel, email, paswoord, confpaswoord )" class="button button-block button-balanced">
                Bevestigen
            </button>
        </div>

    </ion-content>
</ion-view>