/* Empty. Add your own CSS if you like */
/*ion-nav-view{height:20px;}*/

.scroll {
    height: 93.5%;
}

#top{

}


@keyframes example {
    0%   {color: white;}
    50% {color: #007AFF;}
    100% {color: white;}
}

/* The element to apply the animation to */


#chevron{
    position:absolute;
    top:55%;
    left:43%;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#map {
    width: 100%;
    height: 100%;
}

.list .card{
    border: 1px solid #000000;
}

.swipe-cards{
    position: fixed;
}


swipe-card{
    display: none;
    position: fixed;
    -webkit-transform: scale(1,1);
    left: 5%;
    top: 35%;
    width:90%;
    height:80%; /*350px*/
    background-color: rgb(255,255,255);
    border-radius: 4px;
    overflow: visible;
    -webkit-animation-fill-mode: forwards;
}
swipe-card .item-body{
    height: 150px;
}
#start-card{
    color: #fff;
    background-color: #007aff;
    line-height: 200px;
    word-wrap: break-word;
    border: 0px solid #0c63ee;
    text-align: center;
    height: 60%;
    left:5%;
    top:35%;
    width:90%;
    box-shadow: lightgrey 2px 2px 2px;
}
#start-card span{
    display: inline-block;
    line-height: 40px;
    width: 200px;
    font-size: 30px;
    vertical-align: middle;
}


@-webkit-keyframes bounceIn {
    0%{
        -webkit-transform: scale(0,0);
    }
    70%{
        -webkit-transform: scale(1.1,1.1);
    }
    100%{
        -webkit-transform: scale(1,1);
    }
 }

swipe-card.pop-in-start {
    -webkit-transform: scale(0,0);
}
swipe-card.pop-in{
    -webkit-animation: bounceIn 0.4s ease-out;
}